* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: gray;
    background-color: darkgray;
}


.navbar {
    background-color:grey;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
    font-size: 1.75rem;
    font-weight: bold;
    color: whitesmoke;
    letter-spacing: 1px;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    color:whitesmoke;
    margin-left: 15px;
    padding: 8px 15px;
    transition: all 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color:grey;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}


.header {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.header h1 {
    font-size: 3rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header p {
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: lighter;
}


.content {
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.content h2 {
    font-size: 2.5rem;
    color:grey;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.content p {
    font-size: 1.2rem;
    line-height: 1.6;
}


.footer {
    text-align: center;
    margin-top: 30px;
    color: gray;
    font-size: 1rem;
    padding: 20px 0;
}

.footer a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.footer a:hover {
    color:whitesmoke;
}


@media (max-width: 768px) {
    .header h1 {
        font-size: 2rem;
    }

    .content {
        padding: 20px;
    }

    .footer p {
        font-size: 0.9rem;
    }

    .container {
        max-width: 90%;
    }
}

@media (max-width: 480px) {
    .navbar-nav .nav-link {
        font-size: 1rem;
        padding: 5px;
    }

    .content h2 {
        font-size: 2rem;
    }

    .header h1 {
        font-size: 1.5rem;
    }
}


